<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="cluster_uri" value=""/>
    <add key="cluster_username" value=""/>
    <add key="cluster_password" value=""/>
    <add key="table_name" value=""/>
  </appSettings>
</configuration>