<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Twitter Settings-->
    <!-- NOTE: you can register to get this information at https://dev.twitter.com/ -->
    <add key="TwitterConsumerKey" value="TODO"/>
    <add key="TwitterConsumerSecret" value="TODO"/>
    <add key="TwitterAccessToken" value="TODO"/>
    <add key="TwitterAccessTokenSecret" value="TODO"/>

    <!-- HBase settings -->
    <add key="HBaseClusterUrl" value="https://TODOyourname.azurehdinsight.net/" />
    <add key="HBaseClusterUserName" value="TODO" />
    <add key="HBaseClusterPassword" value="TODO" />
    <add key="HBaseTableName" value="tweet_dvr" />
    <add key="HBaseTableColumnFamily" value="d" />
    <add key="HBaseTableColumnNames" value="id_str, screen_name, profile_image_url, name, text, retweet_count, favourite_count, hashtags" />

    <!--SignalR Settings-->
    <add key="SignalRWebsiteUrl" value="http://TODOyourname.azurewebsites.net/"/>
    <add key="SignalRHub" value="TwitterHub"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>